# StyleCop header template
dotnet_diagnostic.SA1633.file_header_template = // <copyright file="{fileName}" company="IBC Digital">
// Copyright © {year} IBC Digital Pty Ltd.
//
// Derived from “MailQueueNet” by Daniel Cohen Gindi
// (https://github.com/danielgindi/MailQueueNet).
//
// Original portions:
//   © 2014 Daniel Cohen Gindi (danielgindi@gmail.com)
//   Licensed under the MIT Licence.
// Modifications and additions:
//   © {year} IBC Digital Pty Ltd
//   Distributed under the same MIT Licence.
//
// The above notice and this permission notice shall be included in
// all copies or substantial portions of this file.
// </copyright>
// <license>
// MIT Licence – see the repository root LICENCE file for full text.
// </license>
// <summary>
// {One-line description of the class or purpose of the file.}
// </summary>